{{!< default}}
{{#post}}
{{>banner/post}}
<div class="main-wrap"> 
	<div class="row">		       
	    <div class="main-content {{#has tag="_full_width"}}col-md-12{{else}}col-md-9 {{#has tag="_left_sidebar"}}col-md-push-3{{/has}} {{/has}}">
	        <div class="body-content" role="main">
	        	<div class="post-content">	        		
	        		<div class="top-meta clearfix">
	        			<div class="post-time">
							<span class="text-label">Posted On</span>
							<time datetime="{{date published_at format="YYYY-MM-DD"}}">
	                            {{date}}
	                        </time>
	                    </div>
	                    <div class="content-ert">
	                    <img src="/assets/img/fft_site-icons-time.svg"/>
	                    <span class="ert-comment-count"></span>
	                    </div>
	                    <!--<div class="post-comments">
	                    	<span class="disqus-comment-count" data-disqus-identifier="{{id}}"></span>
	                    </div>-->
	        		</div>
	        		<div class="content-area">
		        		{{content}}	
		        		<div class="share-box full-color">
				            <span id="last"></span>   
		        			<span class="box-title">
		        				Spread the word:
		        			</span >
	                    	{{>misc/share-icons}}
	                    </div>        		   			        			
		        		{{#author}}	
						<footer class="post-footer clearfix">              	            
			                <div  itemprop="author" itemscope itemtype="http://schema.org/Person" class="post-author">
			                    {{#if image}}                    
			                    <div class="avatar">
			                        <img class="img-reponsive" itemprop="image" src="{{image}}" alt="{{name}}" />
			                    </div>
			                    {{/if}}
			                    <div class="post-author-content">
				                    <h4 class="author-name">
				                    	Written by <a href="{{url}}" itemprop="url" class="post-author-name"><span itemprop="name">{{name}}</span></a>
				                    </h4>	                    
				                    <div class="author-info">
				                    	{{#if location}}<i class="fa fa-home"></i> <span>{{location}}</span>{{/if}}
				                    	{{#if website}}<i class="fa fa-globe"></i> <a href="{{website}}">{{website}}</a>{{/if}}
				                    </div>                                    
				                    <p itemprop="description">
				                    	{{#if bio}}
				                        	{{bio}}
				                        {{else}}
				                     
				                        {{/if}}                    	
				                    </p>
				                 </div>
			                    <!--CTA slidebox copy-->
			                    <!-- Begin MailChimp Signup Form -->
									<div id="slidebox">
									<a class="close">&nbsp;</a>
									<div id="mc_embed_signup">
										<form action="//laurendo.us12.l#lastist-manage.com/subscribe/post?u=5cfa1deacef4ab6a0366ad20f&amp;id=5fa98906f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
										    <div id="">
										    <p class="subscribe">Keep up to date</p>
											<h2>Want to be at the forefront of design psychology?</h2>
												<div class="mc-field-group">
													<label for="mce-EMAIL"></label>
													<p>Keep in the loop the very latest research, goodies and insights.</p>
													<br>
													<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
												</div>
												<div id="mce-responses" class="clear">
													<div class="response" id="mce-error-response" style="display:none"></div>
													<div class="response" id="mce-success-response" style="display:none"></div>
												</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
										    	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5cfa1deacef4ab6a0366ad20f_5fa98906f9" tabindex="-1" value=""></div>
										    	<div class="clear"><input type="submit" value="Yes please" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
										    </div>
										</form>
									</div>
									<div id="slidebox"><a class="close">&nbsp;</a><a href="http://yoursite.com/landing-page" target="_blank"><img class="shadow alignCenter" style="width: 90%; height: auto;" src="http://yoursite.com/images/cta-image.png"></a>
									</div>
								</div>
								
								<!--End mc_embed_signup-->
								<!--CTA slidebox copy-->
			                </div>	            
				        </footer>
				        {{/author}}
				        {{>misc/next-prev-posts}}
				        {{>misc/comment}}
				    </div>
	        	</div>               
	        </div>
	    </div>
	    {{^has tag="_full_width"}}
	    <div class="sidebar col-md-3 {{#has tag="_left_sidebar"}}col-md-pull-9{{/has}}">
	    {{>sidebar/default}} 
	    </div>
	    {{/has}}
	</div>
</div>
{{/post}}